<div style="display: block; text-align: center;">
    <img src="http://res.cloudinary.com/chassiness/image/upload/c_scale,w_600/v1428661682/minimalist_logo_3_j4b4kc.png">
</div>

<p>Hi <span style="text-transform: capitalize"><strong>{{ name }}</strong></span>!</p>

<p>Thank you for leaving us a message. We'll get back to you as needed.</p>

<p>Here is a copy of your inquiry:</p>

<table width="100%" style="border-bottom: 1px solid #979797;">
    <tr>
        <td colspan="2" align="center" bgcolor="#dff0d8">
            <h4>INQUIRY</h4>
        </td>
    </tr>
    <tr>
        <td width="30%" style="padding: 0 20px;"><strong>Name</strong></td>
        <td width="70%">{{ name }}</td>
    </tr>
    <tr>
        <td width="30%" style="padding: 0 20px;"><strong>Email</strong></td>
        <td width="70%" style="padding: 0 20px;">{{ email }}</td>
    </tr>
    <tr>
        <td width="30%" style="padding: 0 20px;"><strong>Inquiry Type</strong></td>
        <td width="70%">{{ type }}</td>
    </tr>
    <tr>
        <td width="30%" style="padding: 0 20px;"><strong>Message</strong></td>
        <td width="70%">{{ message }}</td>
    </tr>
</table>

<p>Visit us at <a href="http://shop.theelbadiaries.com">shop.theelbadiaries.com</a> again soon.</p>

<p>Sincerely,</p>
<p> Chastine<br/>Head Baker at The Elba Diaries</p>